@import "../../variables.scss";

.button{

    & button{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        background-color: lighten($color: $secondary-color, $amount: 4%);
        border: 0.1rem solid darken($color: $secondary-color, $amount: 4%);
        margin: 1rem 6rem;
        cursor: pointer;
       
        
        & svg{
            margin-left: 0.7rem;
            color: $primary-color;


        }
    }
}